{# templates/admin/dashboard.html.twig #}

{% extends 'admin/admin_base.html.twig' %}

{% block title %}Users Dashboard{% endblock %}

{% block body %}
    <h1>Users Dashboard</h1>
    {# Add your dashboard content here #}
{% endblock %}